body {
    font-family: "Epunda Slab", serif;
    margin: 0;
}

header {
    background-color: #fdf0d5;
    padding: 1rem 10px;
}

header span {
    color: #003049;
    font-size: 1.5rem;
    font-weight: 400;
}

/* nav */
nav {
    background-color: #003049;
}

nav ul {
    margin: 0;
    padding: 0 10px;
    list-style-type: none;
    display: flex;
}

nav a {
    display: block;
    padding: .83rem 1rem;
    text-decoration: none;
    font-size: 1.1rem;
    color: #fdf0d5;
    font-weight: 400;
}

nav li.active a {
    background-color: #669bbc;
    color: white;
}

nav li a:hover {
    color: white;
}

/* main */
main {
    padding: 1rem 10px;
}

main h1 {
    color: #c1121f;
}

main h2 {
    color: #c1121f;
    font-weight: 500;
}

main p {
    color: #333;
    margin-left: 20px;
}

/* Home page image */
.home-img {
    float: right;
    width: 40%;
    margin: 0 0 1rem 1rem;
}

.home-img img {
    width: 100%;
    height: auto;
}

.home-img figcaption {
    font-size: .8rem;
    text-align: center;
    color: #555;
}

/* Gallery Grid */
.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.gallery figure {
    width: 300px;
}

.gallery figcaption {
    text-align: center;
    font-size: .9rem;
    margin-top: .3rem;
}

/* Footer clear fix */
footer {
    clear: both;
    background-color: #fdf0d5;
    text-align: center;
    padding: 1rem 0;
}

footer p {
    margin: 0;
    font-size: .8rem;
    color: #333;
    letter-spacing: 3px;
}
